.section-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1666DE;
    padding: 20px 0;
    padding-bottom: 100px;
    height: 100vh;
}

.section-login h2{
    font-weight: 700;
    font-size: 32px;
    padding: 20px 0;
    color: white;
}

.section-login a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
}

.login{
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 12px;
    margin-top: 10px;
}

.login-label{
    color: rgba(22, 102, 222, 0.747);
    font-size: 17px;
    font-weight: 700;
}

.login-item{
    margin: 0 40px;
}

.login-input{
    border: none;
    padding: 10px 0px;
    color: #3D3D3D;
    font-size: 28px;
    font-weight: 700;
    width: 230px;
}

textarea:focus, input:focus{
    outline: none;
}

.login hr{
    border: 1px solid #0000001a;
    margin: 15px 0 15px 0;
}

.login-button{
    background: #3D3D3D;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 18px;
    margin-top: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}

@media screen and (max-width: 350px){
    .login-input{
        width: 200px;
    }
}

/* -------- Dashboard -------- */

.section-panels{
    height: 100vh;
    display: flex;
}

.admin-nav{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-admin{
    width: 110px;
    height: auto;
    margin: 20px 0;
}
.categories{
    display: flex;
    flex-direction: column;
}

.category{
    display: flex;
    font-weight: 700;
    color: #777777;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px 30px;
    width: 100%;
    /* justify-content: center; */
    margin: 10px 0;
    border-radius: 45px;
}

.category:hover{
    color: White;
    background-color: #1666DE;
    box-shadow: 2px 4px 25px -7px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.panel-icon{
    font-size: 25px;
    padding-right: 10px;
}

.admin-body{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.panel-head{
    background-color: #1666DE;
    padding: 25px;
    border-radius: 52.5px;
    margin: 20px;
    box-shadow: 2px 4px 25px -7px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
}

.panel-head h2{
    color: white;
    margin: 0 20px;
}

.panel-head h3{
    color: white;
    margin: 0 20px;
    margin-top: 3px;
}

.cat-blue{
    background-color: #1666DE;
    color: white;
    box-shadow: 2px 4px 25px -7px rgba(0,0,0,0.75);
}

.panel-body{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.panel-body h2{
    color: #1666DE;
    font-size: 30px;
    padding: 10px 0;
    margin-left: 50px;
}

.gallery-albums{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px;
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.create-new-album{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5 solid #1666DE;
    box-shadow: 0px 0px 8px 1px rgba(22,102,222,1);
}

.create-new-album p{
    font-size: 20px;
    font-weight: 700;
    color: #1666DE;
    padding: 65px;
}

.album-image{
    max-width: 250px;
    height: auto;
}

.album-title{
    font-size: 20px;
    font-weight: 700;
    color: #777777;
    text-align: center;
    padding: 20px 0;
    width: 200px;
    margin: 0 auto;
}

.album:hover{
    box-shadow: 0px 0px 8px 1px rgba(22,102,222,1);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.album:hover p {
    color: #1666DE;
    transition: color 0.2s ease-in-out;
}

.create-new-album:hover{
    background-color: #1666DE;
    transition: background-color 0.2s ease-in-out;
}

.create-new-album:hover p{
    color: white;
    transition: color 0.2s ease-in-out;
}
