.section-management {
    background: linear-gradient(#FFA727 , #3D3D3D 80%);
    display: flex;
    padding: 50px 0 0 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.management{
    display: flex;
    flex-direction: column;
}

.management-heading{
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
    margin-left: 80px;
    padding-bottom: 10px;
}

.management-body h2{
    font-weight: 600;
}

#management-img {
    height: 500px;
    width: auto;
    margin-right: 100px;
    margin-top: 20px;
}

.link{
    display: inline-block;
    margin: auto 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-left: 30px;
}

.link>span{
    padding: 0 10px;
}

.management-body{
    padding-top: 20px;
    margin-left: 80px;
    width: 60%;
}

.management-body p{
    padding: 10px 0;
}

.management-body p {
    font-size: 20px;
    margin: 10px 0;
}

@media screen and (max-width: 1480px){
    .section-management{
        justify-content: center;
    }

    .management{
        display: flex;
        align-content: center;
    }

    .management-body h2{
        text-align: center;
    }

    .management-heading {
        flex-direction: column;
        margin-left: 0;
        margin: 0 80px;
    }

    .management-heading h1,
    .management-heading p{
        text-align: center;
    }

    .link{
        padding: 0 0 10px 0;
    }

    #management-img {
        height: 400px;
        width: auto;
        margin-right: 0;
    }

    .management-body{
        width: auto;
        padding: 0 20px;
        margin-left: 0;
        margin: 10px 80px;
    }
}

@media screen and (max-width: 510px){
    .management-heading,
    .management-body{
        margin: 0 20px;
    }

    .management-body{
        margin-top: 20px;
        padding-right: 0;
    }

    .link{
        display: none;
    }

    .management-heading h1{
        padding-right: 0;
    }

    #management-img {
        height: 300px;
        width: auto;
    }
}

@media screen and (max-width: 400px){
    .section-management{
        padding-top: 15px;
    }

    .management-heading h1{
        font-size: 25px;
    }

    .management-body h2{
        font-size: 18px;
    }
}

