.navigation{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #15215D;
    z-index: 2;
    display: none;
    opacity: 0;
    animation: navi-in 200ms ease-in-out forwards;
}

@keyframes navi-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes navi-out{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.navigation-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-head h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.navigation-head>i{
    font-size: 30px;
    color: white;
    margin: 29.8px 38px;
}

.navigation-items{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navigation-items a{
    text-decoration: none;
    color: white;
    margin: 5px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
}

.icon-back{
    display: none;
}

.icon-back-none{
    width: 26.25px;
}

.nav-school {
    display: none;
    opacity: 0;
}

.navigation-items a:nth-child(1){
    border-bottom: 2px solid #fff;
    padding: 0 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media screen and (max-width: 430px){
    .navigation-head h1{
        font-size: 20px;
    }
}